{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            
        {% endblock title %}
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">

    <!-- Optional theme -->
    

    <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}" />
</head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand">
        {% load static %}
        <img src="{% static 'core/awesome_tweet.jpg' %}" alt="logo" style="width:35px;height:35px;"/>

      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}" class="btn btn-success btn-md">Logout</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}" class="btn btn-success btn-md">Login</a></li>
                <li><a href="{% url 'accounts:register' %}" class="btn btn-success btn-md">Sign Up</a></li>
            {% endif %}
        </ul>
      </ul>
      
      
          
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


        {% block content %}

        {% endblock %}
    <hr>
    <footer class="page-footer">
        <hr>
        &copy; Anders Friis 2016
    </footer>


    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib02